@charset "UTF-8";

/* ----------------------------------------------------------
  Reset skin socolissimo
---------------------------------------------------------- */

.socolissimo-popup-inner {
    * {
        font-family: $font-main;
    }

    &,
    .socolissimo-load,
    .socolissimo-message,
    .socolissimo-address input,
    .socolissimo-address select,
    .socolissimo-previous,
    .socolissimo-next,
    .socolissimo-shipping input,
    .socolissimo-shipping select,
    .socolissimo-actions button span,
    .socolissimo-header,
    .socolissimo-header h1 {
        color: inherit;
        background: transparent;
    }

    .socolissimo-header {
        height: auto;
    }

    .socolissimo-header h1 {
        font: inherit;
    }

    .socolissimo-message {
        z-index: 2;
    }
}

.socolissimo-popup-inner {
    .socolissimo-address {
        float: none;
        width: auto;
        padding: 0;
        border: 0;
        background: transparent;
    }

    .socolissimo-address:after {
        content: '';
        display: table;
        clear: both;
        width: 100%;
        table-layout: fixed;
    }
}

@media only screen and (max-width:920px) {
    .socolissimo-popup-inner.socolissimo-popup-inner {
        min-width: 1px;
    }

    .socolissimo-popup-inner .socolissimo-list ul {
        height: 200px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/* ----------------------------------------------------------
  Link socolissimo skin to the current theme
---------------------------------------------------------- */

/* Buttons
-------------------------- */

.socolissimo-popup-inner {
    .socolissimo-message button,
    .socolissimo-content button {
        @extend .button !optional;
    }

    .socolissimo-message .socolissimo-previous,
    .socolissimo-content .socolissimo-previous {
        @extend .button--border!optional;
    }
}

.socolissimo-popup-inner .socolissimo-message button {
    max-width: 50%;
}

.socolissimo-popup-inner .socolissimo-actions {
    & {
        clear: both;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding: 20px 0 10px;
        overflow: hidden;
    }

    button span {
        padding: 0;
        line-height: inherit;
    }
}

@media only screen and (max-width:920px) {
    .socolissimo-popup-inner.socolissimo-popup-inner {
        min-width: 1px;
    }

    .socolissimo-popup-inner .socolissimo-list ul {
        height: 200px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/* Popin coordinates
-------------------------- */

.socolissimo-popup-inner .socolissimo-shipping {
    li {
        z-index: 1;
        clear: both;
        position: relative;
    }

    li:not(.socolissimo-actions) {
        padding-left: 110px;
    }

    label {
        @extend %project--label !optional;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
    }

    input[type=text] {
        @extend .inputreset !optional;
        @extend %project--field !optional;
    }
}

/* Address selector
-------------------------- */

.socolissimo-popup-inner .socolissimo-address {
    & {
        z-index: 1;
        position: relative;
    }

    p {
        display: inline-block;
        float: none;
        margin: 0 10px 0 0;
        vertical-align: top;
    }

    p label {
        @extend %project--label !optional;
        display: block;
        width: auto;
    }

    p input[type=text] {
        @extend .inputreset !optional;
        @extend %project--field !optional;
    }

    p select {
        @extend %project--select !optional;
        margin: 0;
    }

    .socolissimo-actions button,
    .socolissimo-actions {
        z-index: 1;
        float: none;
        position: absolute;
        right: 0;
        bottom: 0;
        left: auto;
        overflow: visible;
    }
}

@media only screen and (max-width:920px) {
    .socolissimo-popup-inner .socolissimo-address {
        margin-bottom: 20px;
    }

    .socolissimo-popup-inner .socolissimo-address p {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .socolissimo-popup-inner .socolissimo-address .socolissimo-actions button,
    .socolissimo-popup-inner .socolissimo-address .socolissimo-actions {
        position: relative;
    }
}

/* Fix map
-------------------------- */

@media(min-width:921px) {
    .socolissimo-popup-inner .socolissimo-list ul {
        width: 42%;
        border-right: 0;
    }

    .socolissimo-popup-inner .socolissimo-list .socolissimo-map {
        width: 58%;
    }
}

/* Base theme
-------------------------- */

.socolissimo-popup-inner {
    .socolissimo-message,
    .socolissimo-load {
        background-color: #fff;
    }
}

/* Fixed popin
-------------------------- */

.socolissimo-popup-inner.socolissimo-popup-inner {
    z-index: 10001;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto!important;
    max-height: 95%;
    max-width: 95%;
    overflow: auto;
}
