@charset "UTF-8";

$integento_catalog_product_view_essential_breakpoint: $mobile_only!default;

/* ----------------------------------------------------------
  Essential grid
---------------------------------------------------------- */

.product-essential {
    & {
        display: table;
        width: 100%;
        table-layout: fixed;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .product-img-box,
    .product-shop {
        display: table-cell;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
    }

    .product-shop {
        width: 45%;
        padding-left: $mobile-padding;
    }

    .product-img-box {
        padding-right: $mobile-padding;
    }
}

@media($integento_catalog_product_view_essential_breakpoint) {
    .product-essential,
    .product-essential .product-img-box,
    .product-essential .product-shop {
        display: block;
        width: 100%;
        padding: 0 0 10px;
    }
}
