@charset "UTF-8";

/* ----------------------------------------------------------
  Options
---------------------------------------------------------- */

dl.item-options {
    & {
        overflow: hidden;
        text-align: left;
    }

    &,
    & dd,
    & dl {
        font: inherit;
    }

    & dt {
        float: left;
    }

    & dt:after {
        content: ':';
        margin: 0 0.3em;
    }
}
