@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.customer-account .col-main {
    padding-bottom: $desktop-padding;
}

/* ----------------------------------------------------------
  Reset
---------------------------------------------------------- */

.newsletter-manage-index,
.wishlist-index-index,
.sales-order-view,
.customer-account-edit,
.customer-address-form,
.customer-address-index {
    .col-main .back-link {
        @extend .no-display !optional;
    }
}

/* ----------------------------------------------------------
  Dashboard
---------------------------------------------------------- */

.dashboard .box-info {
    .col2-set + .col2-set .box-content,
    .box-head + .col2-set {
        @extend .desktop-grid-table;
        margin-bottom: $desktop-padding;
    }
}

/* ----------------------------------------------------------
  Addresses
---------------------------------------------------------- */

.addresses-primary ol {
    @extend .desktop-grid-table;
    margin-bottom: $desktop-padding;
}

/* ----------------------------------------------------------
  Sales
---------------------------------------------------------- */

.order-info-box {
    @extend .desktop-grid-table;
    margin-bottom: $desktop-padding;
}
