@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.customer-account .col-main {
    padding-bottom: $desktop-padding;
}

/* ----------------------------------------------------------
  Reset
---------------------------------------------------------- */

.aw-hdu3-customer-index,
.awrma-customer-rma-list,
.customer-account-edit,
.customer-address-form,
.customer-address-index,
.newsletter-manage-index,
.sales-order-history,
.sales-order-view,
.wishlist-index-index {
    .col-main .back-link {
        @extend .hidden !optional;
    }
}

/* ----------------------------------------------------------
  Dashboard
---------------------------------------------------------- */

.dashboard .box-info {
    .col2-set + .col2-set .box-content,
    .box-head + .col2-set {
        @extend .desktop-grid-table !optional;
        margin-bottom: $desktop-padding;
    }
}

.box-info .box-title,
.box-recent .box-head {
    & {
        z-index: 1;
        position: relative;
    }

    a {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 1em;
        margin: auto;
        line-height: 1;
    }
}

@media($mobile_only) {
    .box-info .box-title,
    .box-recent .box-head {
        margin-bottom: 0.5em;
    }

    .box-info .box-title a,
    .box-recent .box-head a {
        display: block;
        z-index: 1;
        position: relative;
        top: -0.5em;
        bottom: auto;
    }
}

/* ----------------------------------------------------------
  Addresses
---------------------------------------------------------- */

.addresses-primary ol {
    @extend .desktop-grid-table !optional;
    margin-bottom: $desktop-padding;
}

.addresses-additional ol {
    overflow: hidden;
}

.addresses-additional ol > li {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3%;
    padding-right: 2em;
    padding-bottom: 2em;
}

/* Item address
-------------------------- */

.item--address {
    & {
        padding-bottom: 1em;
    }

    a[class*="button"] {
        margin-top: 0.5em;
        min-width: 130px;
    }
}

/* Responsive
-------------------------- */

@media($desktop_excluded) {
    .addresses-additional ol > li {
        width: 50%;
    }
}

@media($mobile_only) {
    .addresses-additional ol > li {
        float: none;
        width: auto;
    }
}

/* ----------------------------------------------------------
  Sales
---------------------------------------------------------- */

.order-info-box {
    @extend .desktop-grid-table !optional;
    margin-bottom: $desktop-padding;
}

/* ----------------------------------------------------------
  Wishlist
---------------------------------------------------------- */

/* Enlarge table + Hide "add all" if only one item */

#wishlist-view-form {
    & {
        max-width: 100%;
    }

    &[data-items-nb="1"] .btn-add {
        display: none!important;
    }
}

/* Buttons
-------------------------- */

#wishlist-view-form .buttons-set2 {
    & {
        @extend .buttons-set--double;
    }

    button {
        margin-bottom: 1em;
    }

    button[name="save_and_share"],
    button[name="do"] {
        display: none;
    }
}
