@charset "UTF-8";

/* ----------------------------------------------------------
  Layouts
---------------------------------------------------------- */

.customer-account-public .main-container {
    & {
        @extend .centered-container !optional;
        min-width: 0;
    }

    & > * {
        @extend %responsive-padding-tb !optional;
        width: auto;
    }
}

.customer-account-logoutsuccess .main-container {
    & .page-title {
        padding: 0;
    }

    p {
        padding-top: 0;
    }

    & > * {
        text-align: center;
    }
}

/* ----------------------------------------------------------
  Fields
---------------------------------------------------------- */

/* Prefix */

.form-list .input-box {
    select[name="suffix"],
    select[name="prefix"] {
        width: auto;
        min-width: 2em;
    }
}

/* Dob */

.customer-dob {
    & {
        z-index: 1;
        position: relative;
        margin-right: -10px;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
        width: 100%;
        height: 1px;
        table-layout: fixed;
    }

    label {
        display: block;
    }

    & > * {
        float: left;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 10px;
        max-width: 30%;
        vertical-align: middle;
    }

    .dob-year {
        max-width: 40%;
    }

    input[type="text"] {
        -moz-box-sizing: content-box!important;
        box-sizing: content-box!important;
        width: 2em;
        max-width: 2em;
        text-align: center;
    }

    .dob-year input[type="text"] {
        width: 4em;
        max-width: 4em;
    }
}

/* Remember me */

.form-list .input-box + a.f-left {
    display: block;
    padding-top: 0.6em;
    text-align: right;
    line-height: 1.2;
}
