@charset "UTF-8";

$integento_breadcrumbs_maxwidth: $content_width_wide!default;

/* ----------------------------------------------------------
  Breadcrumbs
---------------------------------------------------------- */

.breadcrumbs {
    & {
        @extend %responsive-padding-lr!optional;
        margin-right: auto;
        margin-left: auto;
        max-width: $integento_breadcrumbs_maxwidth;
        min-height: 30px;
    }

    [class*="col1-layout"] &,
    [class*="col2-left-layout"] &,
    [class*="col2-left-layout--natural"] &,
    [class*="col2-right-layout"] &,
    [class*="col3-layout"] &,
    [class*="centered-container"] &{
        padding-right: 0!important;
        padding-left: 0!important;
    }
}

.breadcrumbs li {
    float: left;
    line-height: 30px;
}

.breadcrumbs li + li:before {
    content: '/';
    margin: 0 5px;
}

.breadcrumbs:after {
    content: '';
    display: table;
    clear: both;
}
