@charset "UTF-8";

$integento_buttons_breakpoint: $mobile_only!default;

/* ----------------------------------------------------------
  Buttons
---------------------------------------------------------- */

.button {
    @extend .cssc-button !optional;
}

.buttons-set {
    margin: 1em 0 2em;
}

.buttons-set:first-child {
    margin-top: 0;
}

.buttons-set:last-child {
    margin-bottom: 0;
}

/* ----------------------------------------------------------
  Buttons set double
---------------------------------------------------------- */

.buttons-set--double {
    & {
        clear: both;
    }

    [class^="button"] + [class^="button"] {
        float: right;
    }
}

/* Reverse & full size on mobile */

@media($integento_buttons_breakpoint) {
    .buttons-set--double {
        display: flex;
        flex-direction: column-reverse;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
    }

    .buttons-set--double button[class^="button"] {
        @extend %integento-button-mobile-full;
    }
}

/* ----------------------------------------------------------
  Full mobile button
---------------------------------------------------------- */

@media($integento_buttons_breakpoint) {
    %integento-button-mobile-full {
        display: block;
        float: none;
        width: 100%;
        margin: 0 auto $mobile-padding;
        padding-right: 0;
        padding-left: 0;
        max-width: 500px;
    }
}
