@charset "UTF-8";

/* ----------------------------------------------------------
  Options
---------------------------------------------------------- */

dl.item-options {
    overflow: hidden;
    text-align: left;
}

dl.item-options dt {
    float: left;
}

dl.item-options dt:after {
    content: ':';
    margin: 0 3px;
}