@charset "UTF-8";

$integento_layouts_breakpoint: $mobile_only!default;
$integento_layouts_maxwidth: $content_width_wide!default;

/* ----------------------------------------------------------
  Layouts
---------------------------------------------------------- */

/* Common
-------------------------- */

.col3-layout .col-main,
.col3-layout .col-wrapper,
.col3-layout .col-left,
.col3-layout .col-right,
.col2-left-layout--natural .col-main,
.col2-left-layout--natural .col-left,
.col2-left-layout .col-main,
.col2-left-layout .col-left,
.col2-right-layout .col-main,
.col2-right-layout .col-right {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 2 col Right
-------------------------- */

.col2-right-layout {
    .col-main,
    .col-right {
        float: left;
        width: 70%;
    }

    .col-main {
        padding-left: $desktop-padding;
    }

    .col-right {
        width: 30%;
        padding-right: $desktop-padding;
    }
}

/* 2 col Left
-------------------------- */

.col2-left-layout {
    .col-main,
    .col-left {
        float: right;
        width: 70%;
    }

    .col-main {
        padding-right: $desktop-padding;
    }

    .col-left {
        width: 30%;
        padding-left: $desktop-padding;
    }
}

/* 2 col left - natural
-------------------------- */

.col2-left-layout--natural {
    .col-main,
    .col-left {
        float: left;
        width: 70%;
    }

    .col-main {
        padding-left: $desktop-padding;
    }

    .col-left {
        width: 30%;
        padding-right: $desktop-padding;
    }
}

/* 3 col
-------------------------- */

.col3-layout {
    .col-wrapper,
    .col-right {
        float: left;
    }

    .col-main,
    .col-left {
        float: right;
    }

    .col-right {
        width: 20%;
    }

    .col-wrapper {
        width: 80%;
    }

    .col-left {
        width: 25%;
    }

    .col-main {
        width: 75%;
    }
}

/* Size
-------------------------- */

.col1-layout .col-main,
.col3-layout,
.col2-left-layout--natural,
.col2-left-layout,
.col2-right-layout {
    @extend %responsive-padding-lr!optional;
    margin-right: auto;
    margin-left: auto;
    max-width: $integento_layouts_maxwidth;
}

/* Clear
-------------------------- */

.col3-layout:after,
.col2-left-layout--natural:after,
.col2-left-layout:after,
.col2-right-layout:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    table-layout: fixed;
}

/* ----------------------------------------------------------
  Responsive fix
---------------------------------------------------------- */

@media($integento_layouts_breakpoint) {
    .col3-layout .col-main,
    .col3-layout .col-wrapper,
    .col3-layout .col-left,
    .col3-layout .col-right,
    .col2-left-layout--natural .col-main,
    .col2-left-layout--natural .col-left,
    .col2-left-layout .col-main,
    .col2-left-layout .col-left,
    .col2-right-layout .col-main,
    .col2-right-layout .col-right {
        float: none!important;
        width: auto!important;
        padding-right: 0;
        padding-left: 0;
    }
}
