@charset "UTF-8";

/* ----------------------------------------------------------
  Loader
---------------------------------------------------------- */

.onepagecheckout-index-index .block,
.checkout-onepage-index .step {
    & {
        z-index: 1;
        position: relative;
    }

    .please-wait {
        @extend .absolute-cover !optional;
        display: block;
        z-index: 10;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5% 10px;
        text-align: center;
        opacity: 0.90;
        background: #fff;
    }

    .please-wait img {
        display: block;
        margin: 0 auto;
    }
}

#addresses-buttons-container,
#billing-buttons-container,
#payment-buttons-container,
#shipping-buttons-container,
#shipping-method-buttons-container {
    opacity: 1!important;
}
