@charset "UTF-8";

/* ----------------------------------------------------------
  Messages
---------------------------------------------------------- */

/* Required
-------------------------- */

p.required {
    text-align: right;
    font-size: 11px;
}

/* Banners
-------------------------- */

.messages {
    & {
        display: block;
        margin-bottom: 30px;
    }

    ul,
    li {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: inherit;
        list-style-type: none;
        -webkit-background-clip: padding-box;
    }

    li li + li {
        margin-top: 0.5em;
    }

    li li {
        padding: 0.5em;
        border: 1px solid;
        border-radius: 2px;
        color: #333;
        background: #fff;
    }

    .success-msg li {
        border-color: #6C6;
        color: #080;
        background-color: #EFE;
    }

    .error-msg li {
        border-color: #C66;
        color: #800;
        background-color: #FEE;
    }

    .note-msg li,
    .notice-msg li {
        border-color: #66C;
        color: #008;
        background-color: #EEF;
    }

    .warning-msg li {
        border-color: #CC6;
        color: #880;
        background-color: #FFE;
    }
}
