@charset "UTF-8";

/* ----------------------------------------------------------
  Tables
---------------------------------------------------------- */

.data-table {
    & {
        margin-bottom: 2em;
    }

    &:last-child {
        margin-bottom: 0;
    }

    colgroup {
        display: none;
    }

    td,
    th {
        padding: 0.5em;
        border: 1px solid #CCC;
        text-align: left;
        font-size: $font-size;
        vertical-align: top;
    }

    th:last-child,
    td:last-child {
        text-align: right;
    }

    th {
        font-weight: normal;
        white-space: nowrap;
    }
}

/* ----------------------------------------------------------
  Common tables
---------------------------------------------------------- */

#shopping-cart-totals-table {
    td {
        padding: 0.2em 0;
        line-height: 1.2;
    }

    td + td {
        text-align: right;
    }

    tfoot tr:last-child td {
        padding-top: 0.2em;
        font-size: 1.2em;
    }
}
