@charset "UTF-8";

/* ----------------------------------------------------------
  Tables
---------------------------------------------------------- */

.data-table {
    & {
        margin-bottom: 2em;
    }

    colgroup {
        display: none;
    }

    td,
    th {
        padding: 0.5em;
        border: 1px solid #CCC;
        text-align: left;
        font-size: $font-size;
        vertical-align: top;
    }

    th:last-child,
    td:last-child {
        text-align: right;
    }

    th {
        font-weight: normal;
        white-space: nowrap;
    }
}
