@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.checkout-onepage-index {
    .main-container__wrapper {
        @extend .centered-container !optional;
        min-width: 0;
    }
}

/* ----------------------------------------------------------
  Success
---------------------------------------------------------- */

.checkout-onepage-success .col-main {
    & {
        @extend %responsive-margin-bottom;
        text-align: center;
    }

    & > div {
        text-align: left;
    }

    .buttons-set {
        text-align: center;
    }
}
