@charset "UTF-8";

/* ----------------------------------------------------------
  Price box
---------------------------------------------------------- */

.price-box {
    &,
    * {
        font-size: inherit;
    }

    p:not(:last-child),
    p {
        display: inline-block;
        margin: 0;
        vertical-align: top;
    }

    .minimal-price-link .label,
    .price-label {
        display: none;
    }

    .old-price {
        text-decoration: line-through;
    }
}
