@charset "UTF-8";

/* ----------------------------------------------------------
  Price box
---------------------------------------------------------- */

.price-box,
.price-box * {
    font-size: inherit;
}

.price-box p {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.price-box .minimal-price-link .label,
.price-box .price-label {
    display: none;
}

.price-box .old-price {
    text-decoration: line-through;
}
