@charset "UTF-8";

$integento_col2set_breakpoint: $mobile_only!default;

/* ----------------------------------------------------------
  Col2
---------------------------------------------------------- */

.col2-set--base {
    & {
        z-index: 1;
        position: relative;
        margin: 0 -10px 20px;
        overflow: hidden;
    }

    & > :not(.col-1):not(.col-2) {
        padding: 0 10px;
    }

    .col-1,
    .col-2 {
        float: left;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        padding: 0 10px;
    }

    & * .col-1,
    & * .col-2 {
        padding: 0;
    }

    & * .col-1 {
        padding-right: 10px;
    }

    & * .col-2 {
        padding-left: 10px;
    }
}

@media($integento_col2set_breakpoint) {
    .col2-set--base {
        margin: 0;
    }

    .col2-set--base > :not(.col-1):not(.col-2) {
        padding: 0;
    }

    .col2-set--base * .col-1,
    .col2-set--base * .col-2,
    .col2-set--base .col-1,
    .col2-set--base .col-2 {
        float: none;
        width: auto;
        margin-bottom: 20px;
        padding: 0;
    }
}
