@charset "UTF-8";

/* ----------------------------------------------------------
  Pager
---------------------------------------------------------- */

.pager {
    margin-bottom: 1em;
}

.pager * {
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 0;
}

.pager .limiter {
    display: none;
}

.pager img {
    vertical-align: middle;
}

.pager ol li.current,
.pager ol a {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    outline: 1px solid #f0f0f0;
}
