@charset "UTF-8";

/* ----------------------------------------------------------
  Pager
---------------------------------------------------------- */

.pager {
    margin-bottom: 1em;
}

.pager * {
    display: inline-block;
    margin-bottom: 0;
    font-size: $font-size;
    line-height: $line-height;
    vertical-align: 0;
}

.pager .limiter {
    display: none;
}

.pager img {
    vertical-align: middle;
}

.pager ol li.current,
.pager ol a {
    width: $line-height-em;
    height: $line-height-em;
    text-align: center;
    line-height: $line-height;
    outline: 1px solid #f0f0f0;
}
