@charset "UTF-8";

/* ----------------------------------------------------------
  STD : Admin controlled content
---------------------------------------------------------- */

.std {
    font-size: $font-size;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

/* Text
-------------------------- */

.std p,
.std li {
    font-size: 1em;
    line-height: $line-height;
}

.std table,
.std p,
.std ol,
.std ul {
    margin: 0 0 1em;
}

.std p:last-child,
.std ol:last-child,
.std ul:last-child {
    margin-bottom: 0;
}

/* Table
-------------------------- */

.std table {
    @extend .data-table !optional;
}

/* Links
-------------------------- */

.std p a,
.std li a {
    border-bottom: 1px solid;
}

/* List
-------------------------- */

.std ul,
.std ol {
    padding-left: 1.5em;
}

.std ul:not(.messages) {
    list-style: disc outside;
}

.std ol {
    list-style: decimal outside;
}

.std ul:not(.messages) ul {
    list-style-type: circle;
}
