@charset "UTF-8";

/* ----------------------------------------------------------
  Mage forms
---------------------------------------------------------- */

.form-list {
    z-index: 1;
    position: relative;
    font-size: $font-size;
}

.form-list .wide,
.form-list .field,
.form-list .fields,
.form-list .half-field,
.form-list > li {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
    font: inherit;
    list-style: none!important;
}

.form-list .fields .fields:last-child {
    margin-bottom: 0;
}

/* Grid
-------------------------- */

.form-list .half-field,
.form-list .fields.fields--float .field {
    width: 50%;
    padding-right: 10px;
}

.form-list .fields.fields--float {
    &:after {
        content: '';
        display: table;
        clear: both;
        width: 100%;
    }

    .field {
        float: left;
        margin-bottom: 0;
        padding-left: 10px;
    }

    .field:first-child {
        padding-left: 0;
    }

    .field:first-child:last-child {
        float: none;
        padding-right: 0;
        padding-left: 0;
    }

    .field + .field:last-child {
        padding-right: 0;
    }
}

/* Labels
-------------------------- */

.form-list label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Required */

.form-list label.required {
    em:first-child {
        display: none;
    }

    &:after {
        content: '*';
    }
}

/* Control */

.form-list .control .input-box label {
    margin-right: 5px;
    margin-bottom: 0;
}

/* Fields
-------------------------- */

.form-list .input-box {
    textarea,
    input[type=text],
    input[type=email],
    input[type=password] {
        @extend .inputreset !optional;
        border-radius: 0;
        font: inherit;
    }
}

/* Dob */

.customer-dob {
    & {
        z-index: 1;
        position: relative;
        margin-right: -10px;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
        width: 100%;
        height: 1px;
        table-layout: fixed;
    }

    label {
        display: block;
    }

    & > * {
        float: left;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 10px;
        max-width: 30%;
        vertical-align: middle;
    }

    .dob-year {
        max-width: 40%;
    }

    input[type="text"] {
        -moz-box-sizing: content-box!important;
        box-sizing: content-box!important;
        width: 2em;
        max-width: 2em;
        text-align: center;
    }

    .dob-year input[type="text"] {
        width: 4em;
        max-width: 4em;
    }
}

/* Checkboxes */

.form-list .control {
    & {
        z-index: 1;
        position: relative;
    }

    & > input[type=checkbox] {
        margin-right: 3px;
    }

    & > input[type=checkbox],
    .input-box {
        display: inline-block;
        vertical-align: 0;
    }

    & > label:first-child + .input-box:last-child {
        display: block;
    }

    [type=radio] {
        margin-right: 3px;
        margin-left: 6px;
        vertical-align: 0;
    }

    label [type=radio] {
        margin-right: 5px;
        margin-left: 1px;
    }
}

/* Select */

.form-list .input-box select {
    @extend .cssc-select !optional;
    border-radius: 0;
    background: transparent no-repeat right 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAFCAQAAADvCgS4AAAAGklEQVR4AWNg+I8BcQGCyhAAXRlhpcQAQsoAMGIY6KADYAUAAAAASUVORK5CYII=);
}

.form-list.form-list .input-box select[multiple] {
    height: auto;
    background-position: right top 10px;
}

/* Messages
-------------------------- */

.input-box .validation-advice {
    display: block;
    margin-top: 0.3em;
    font-size: 12px;
    font-style: italic;
    color: #F00;
}

/* ----------------------------------------------------------
  Responsive
---------------------------------------------------------- */

@media(max-width:$mobile-max) {
    .form-list:not(.form-list--unresponsive) > li,
    .form-list:not(.form-list--unresponsive) .half-field,
    .form-list:not(.form-list--unresponsive) .fields .field {
        float: none;
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }

    .form-list:not(.form-list--unresponsive) .fields .field:first-child {
        margin-bottom: 1em;
    }
}

.thin-form {
    .form-list > li,
    .form-list .half-field,
    .form-list .fields .field {
        float: none;
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }

    .form-list .fields .field:first-child {
        margin-bottom: 1em;
    }
}
