@charset "UTF-8";

/* ----------------------------------------------------------
  Form input + ok
---------------------------------------------------------- */

%form-input-ok {
    & {
        z-index: 1;
        position: relative;
        text-align: left;
    }

    label {
        @extend .hidden !optional;
    }

    button,
    .input-text,
    input[type="email"],
    input[type="search"],
    input[type="text"] {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    button {
        z-index: 1;
        position: absolute!important;
        top: 0;
        right: 0;
    }

    .input-text,
    input[type="email"],
    input[type="search"],
    input[type="text"] {
        display: block;
        width: 100%;
        padding-right: 4em;
        padding-left: 0.5em;
    }
}
